<h1>Change Your Email Preferences</h1>
<p>First search for your account by email address.</p>

<%= form_tag(edit_user_path, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Enter Your Email" %>
  <%= submit_tag "Search", :name => nil, class: "btn-submit" %>
<% end %>
