<% if flash[:error] %>
  <%= flash[:error] %></div>
<% end %>
<% if flash[:notice] %>
  <%= flash[:notice] %></div>
<% end %>
<hr>
<h3>Let's start by pulling up your current email settings.</h3>
<p>For example: http://localhost:3000/users/query?email=johndoe@example.com&token=ac4ff62c-c6a6-42ea-974e-ac519fdbf514
